.projects-continer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  max-width: 1030px;
  padding-left: 40px;
  padding-right: 40px;
}
.project-box {
  flex: 1 1 300px;
  max-width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.project-box img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
}
.project-box:hover img {
  transform: scale(1.5);
}
.project-them h3 {
  font-size: 1.8rem;
  font-weight: 300;
  background-color: #f8f9fa;
  padding: 16px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
}
.project-them p {
  font-size: 0.9rem;
  font-weight: 200;
}
@media (max-width: 900px) {
}
