* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  height: 90px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500px;
  letter-spacing: 0.5px;
}
.logo a:hover{
  color: #3b82f6;
  font-size: 1.7rem;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  gap: 5px; 
}
.logo img:hover{
  width: 50px;
  height: 50px;
  border: 1.5px solid #3b82f6;
}
.logo img{
  width: 40px;
  border:3px solid white;
  background-color: aliceblue;
  border-radius: 100%;
}
.nav-links {
  display: flex;
  gap: 1.5rem;
  padding-right: 4rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.nav-links a:hover{
  color: #3b82f6;
  font-size: 18px;
  font-weight: 400;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: top 0.3s ease;
}
.menu-icon:hover .bar{
  background-color:  #3b82f6;
}
.bar.change:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 9px);
}
.bar.change:nth-child(2) {
  opacity: 0;
}
.bar.change:nth-child(3) {
  transform: rotate(45deg) translate(-6px, -6px);
}

@media (max-width: 680px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #1f2937;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 1rem 0;
  }
  .nav-links.active {
    display: flex;
  }
  .menu-icon {
    display: flex;
  }
  .logo {
    padding-left: 1rem;
  }
}
