.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.profile-bio {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 300px;
  width: 100%;
}
.profile-img img {
  max-width: 610px;
  max-height: 310px;
  height: auto;
  /* Maintain aspect ratio */
  flex: auto;
  /* Allow images to grow and shrink */
  width: 100%;
  transform: scaleX(-1);
  border-radius: 0 100px 0px 100px;
}
.bio-title {
  max-width: 400px;
  font-size: 2.9rem;
  font-weight: 300;
  margin: 0;
}
.bio {
  max-width: 500px;
  font-size: 0.9em;
  font-weight: 200;
}
.hero {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 140px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.bio-btn {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  gap: 20px;
}
.btn {
  width: 110px;
  height: 40px;
  border: 0;
  border-radius: 100px;
  background-color: #f8f9fa;
  color: black;
}
.active-btn {
  width: 110px;
  height: 40px;
  border: 0;
  border-radius: 100px;
  background-color: black;
  color: #fff;
}
.active-btn:hover {
  background-color: #f8f9fa;
  color: black;
}

.btn:hover {
  background-color: black;
  color: white;
}

.skills-continer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px; /* Space between boxes */
  padding: 20px;
  margin-top: 50px;
  max-width: 1030px;
}

.skills-box {
  flex: 1 1 300px; /* Grow/shrink with a min width of 300px */
  max-width: 400px;
  padding: 16px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.skills-box img {
  width: 30px;
  height: 30px;
}
.icon-title {
  display: flex;
  gap: 10px;
  align-items: center;
}
.icon-title h3 {
  font-weight: 300;
}
.skills-list li {
  font-size: 1rem;
  font-weight: 200;
}
@media (max-width: 900px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 30px;
    gap: 50px;
    padding-top: 90px;
  }
  .profile-img img {
    max-height: 400px;
    height: auto;
    /* Maintain aspect ratio */
    flex: auto;
    /* Allow images to grow and shrink */
    width: 100%;
    border-radius: 0px 100px 0px 100px;
    margin-top: 50px;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  /* .skills-continer {
    display: flex;
    flex-direction: column;
  }
  .skills-box {
    max-width: 400px;
  } */
  .skills-continer {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .skills-box {
    flex: none;
    width: 90%;
    max-width: none;
  }
  .btn {
    width: 115px;
    height: 50px;
    border: 0;
    border-radius: 100px;
    background-color: #f8f9fa;
  }
  .active-btn {
    width: 115px;
    height: 50px;
    border: 0;
  }
  .active-btn:hover {
    background-color: #f8f9fa;
    color: black;
  }
}
