
body{
  font-family: 'Inter', sans-serif;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3d4451;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  color: white;
  font-size: 0.95rem;
  bottom: 0;

}

#footer-tag {
  margin-bottom: 1rem;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.contact-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.email-link {
  color: #3b82f6;
  text-decoration: none;
  margin-top: 0.5rem;
}

.email-link:hover {
  color: #6ea4fb;
}

.follow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.social-links a {
  text-decoration: none;
  color: #feffff;
}

.social-links img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

.social-links img:hover {
  transform: scale(1.1);
}


@media (max-width: 600px) {
  .footer{
    flex-direction: column;
  }
}
