body {
  background-color: #f3f4f6;
  color: white;
  font-family: 'Inter', sans-serif;
}
.profile-continer {
  background-color: #6b7280;
  width: 50%;
  padding: 100px;
}

.profile {
  display: flex;
  flex-direction: row;
  padding-left: 60%;
  padding-top: 60px;
}

.profile-image-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* background-color: rgb(220, 211, 200); */
  background-color: #5c636f;
  width: 340px;
  height: 460px;
  padding: 40px;
  padding-top: 50px;
  margin: 0;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 10px 10px 0 #4b505a;

}
.profile-image-title:hover{
  margin: 3px;
  box-shadow: 0px 0px 4px 4px #4b505a;

}

.profile-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding-left: 30px;
  width: 400px;
  padding-bottom: 30px;
  letter-spacing: 1.2px;
}

.profile-bio p {
  width: 312px;
  font-size: 16px;
  color: black;
}

.profile-bio h1 {
  width: 300px;
  font-size: 90px;
  color: black;
}

.profile-bio h3 {
  width: 310px;
  font-size: 28px;
  color: black;
}

.social-media-contact {
  display: flex;
  width: 300px;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
  border-radius: 0 0 0 10px;
  gap: 15px;
}


.social-media-contact img {
  width: 20px;
}

.profile-image-title h2 {
  font-size: 28px;
  letter-spacing: 1px;
  padding-top: 10px;
  color: white;
}

.profile-image-title h3 {
  font-size: 19px;
  letter-spacing: 1px;
  color: white;

}

.profile-image-title h1 {
  font-size: 10px;
  color: #def2f1;
}

.resume-project-btn {
  display: flex;
  gap: 20px;
}

.resume-project-btn button {
  width: 6rem;
  height: 1.7rem;
  background-color: #3b82f6;
  border: 0;
  border-radius: 7px;
}

.resume-project-btn button:hover {
  background-color: #f3f4f6;
  width: 6.3rem;
  height: 2rem;
  border: solid 1.2px black;
  color: black;

}

.resume-project-btn a:hover {
  color: black;
}
.resume-project-btn a {
  color: #feffff;
  text-decoration: none;
  letter-spacing: 1px;
}

@media (max-width: 680px) {
  .profile-continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6b7280;;
    width: 100%;
    height: 100vh;
    padding-top: 500px;
    padding-bottom: 400px;
  }
  .profile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    background-color: #f3f4f6;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 #4b505a;
  }
  .profile:hover{
    margin-top: 10px;
    box-shadow: 0px 0px 4px 4px #4b505a;

  }
  .profile-image-title:hover{
    width: 330px;
    height: 460px;
    box-shadow: none;
  }
  .profile-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 30px;
    padding-top: 50px;
    width: 330px;
    padding-bottom: 30px;
    letter-spacing: 1.2px;
  }

  .profile-image-title {
    border-radius: 10px 10px 0 0;
    width: 330px;
    height: 460px;
    box-shadow: none;
  }

  .social-media-contact {
    width: 330px;
    border-radius: 0;
    margin-top: 30px;
    padding: 10px;
  }

  .profile-bio p {
    width: 280px;
    font-size: 14px;
  }

  .profile-bio h1 {
    width: 200px;
    font-size: 50px;

  }

  .profile-bio h3 {
    width: 280px;
    font-size: 20px;
  }

  .resume-project-btn button {
    width: 5rem;
    height: 1.3rem;
    background-color: #3b82f6;
    border: 0;
    border-radius: 7px;
    margin-top: 10px;
  }
  .resume-project-btn a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 11px;
  }
  .resume-project-btn button:hover {
    background-color: #5c636f;
    border: solid 1px white;
    width: 6.1rem;
    height: 1.8rem;
  }

  .resume-project-btn a:hover {
    color: white;
  }
}
