body {
  background-color: #2a2f45;
  color: white;
  font-family: 'Inter', sans-serif;
}
.profile-continer {
  background-color: #1e1e2f;
  width: 45%;
  height: 110vh;
  padding: 50px;
}

.profile {
  display: flex;
  flex-direction: row;
  padding-left: 20%;
  padding-top: 90px;
  
}

.profile-image-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* background-color: rgb(220, 211, 200); */
  background-color: #3d4451;
  width: 550px;
  height: 670px;
  padding: 40px;
  padding-top: 50px;
  margin: 0;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 4px 15px #141212;

}
.profile-image-title:hover{
  margin: 3px;
  box-shadow: 0px 5px 15px 5px #232020;

}

.profile-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 0px;
  padding-top: 50px;
  width: 650px;
  height: 620px;
  padding-bottom: 30px;
  letter-spacing: 1.2px;
  padding-left: 30px;
}
p a{
  color: #3b82f6;
  text-decoration: none;
}
p a:hover{
  font-size: 16px;
}
.profile-bio p {
  padding-top: 10px;
  width: 450px;
  font-size: 14px;
  color: white;
  text-align:left;
}

.profile-bio h1 {
  width: 350px;
  font-size: 70px;
  color: white;
  margin-bottom: 10px;
}

.profile-bio h3 {
  width: 310px;
  font-size: 28px;
  color:white;
}

.social-media-contact {
  display: flex;
  width: 300px;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
  border-radius: 0 0 0 10px;
  gap: 15px;
}


.social-media-contact img {
  width: 20px;
}

.profile-image-title h2 {
  font-size: 38px;
  letter-spacing: 1px;
  padding-top: 10px;
  color: white;
}

.profile-image-title h3 {
  font-size: 30px;
  letter-spacing: 1px;
  color: white;

}

.profile-image-title h1 {
  font-size: 25px;
  color: #b9a17f;
}

.resume-project-btn {
  padding-left: 40px;
  display: flex;
  gap: 70px;
}

.resume-project-btn button {
  font-size: 17px;
  width: 7rem;
  height: 2rem;
  background-color: #3b82f6;
  border: 0;
  border-radius: 10px;
}

.resume-project-btn button:hover {
  background-color: #2a2f45;
  width: 7.5rem;
  height: 2.5rem;
  border: solid 2px #3b82f6;
  color: #3b82f6;

}
.resume-project-btn button:hover a{
  color: #3b82f6;
}
.resume-project-btn a:hover {
  color: #3b82f6;
}
.resume-project-btn a {
  color: #feffff;
  text-decoration: none;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .profile-continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e2f;;
    width: 100%;
    height: 100vh;
    padding-top: 890px;
    padding-bottom: 600px;
  }
  .profile {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0;
    margin: 0;
  }
  .profile-image-title:hover{
    margin: 3px;
    box-shadow: 0px 5px 15px 5px #232020;
  }
  .profile-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0;
    padding-top: 420px;
    width: 340px;
    padding-bottom: 595px;
    letter-spacing: 1.2px;
  }

  .profile-image-title {
    border-radius: 10px 10px 10px 10px;
    width: 340px;
    height: 550px;
    box-shadow: none;
  }
  .profile-image-title h2{
    font-size: 28px;
  }
  .profile-image-title h3{
    font-size: 20px;
  }
  .social-media-contact {
    width: 330px;
    border-radius: 0;
    margin-top: 30px;
    padding: 10px;
  }

  .profile-bio p {
    width: 280px;
    font-size: 14px;
  }

  .profile-bio h1 {
    width: 300px;
    font-size: 40px;

  }

  .profile-bio h3 {
    width: 280px;
    font-size: 20px;
  }
  .resume-project-btn{
    padding: 0;
    gap: 28px;
  }

  .resume-project-btn button {
    width: 5.8rem;
    height: 2rem;
    background-color: #3b82f6;
    border: 0;
    border-radius: 7px;
    margin-top: 10px;
    font-size: 19px;
    padding-bottom: 3px;
  }
  .resume-project-btn a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 13px;
  }
  .resume-project-btn button:hover{
    background-color: #5c636f;
    border: solid 1px #3b82f6;
    width: 6.1rem;
    height: 1.8rem;
    
  }

}

@media (max-width: 1180px){
  .profile-continer {
    background-color: #1e1e2f;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 140vh;
  }
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-top: 140px;
  }
  .profile-bio {
    gap: 10px;
    padding: 0;
    width: 440px;
    padding-bottom: 0;
    letter-spacing: 1.2px;
  }
  .profile-continer {
    background-color: #1e1e2f;
    width: 100%;
    height: 110vh;
    padding-top: 10px;
    padding-bottom: 1500px;
  }
  
}