body{
  font-family: 'Inter', sans-serif;
}
.contact-continer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e2f;
  width: 100%;
  height: 100vh;
  gap: 40px;
  padding: 15px;
  padding-top: 134px;
  
}
