body{
  font-family: 'Inter', sans-serif;
}
.contact-continer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f8f8b;
  width: 100%;
  gap: 40px;
  padding: 50px;
  padding-top: 120px;
}
