body{
  color: black;
  font-family: 'Inter', sans-serif;
}
.resume-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f3f4f6;
  width: 670px;
  height: 300px;
  gap: 20px;
  padding: 50px;
  border-radius: 8px;
  letter-spacing: 1px;
  box-shadow: 0px 10px 10px 10px #4b505a;
}
.resume-box:hover{
  margin: 3px;
  box-shadow: 0px 0px 4px 4px #4b505a;
}

.resume-card-titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 630px;
}
.resume-card-titles h1 {
  font-size: 18px;
  color: black;
}
.resume-card-titles h2 {
  font-size: 14px;
}
.resume-card-titles h3 {
  font-size: 13px;
  font-weight: 400;
}

.explanition-tex p {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 680px) {
  .resume-box {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 330px;
    height: fit-content;
    padding-left: 40px;
  }
  .resume-card-titles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
  }
}
