body{
  font-family: 'Inter', sans-serif;
}
.skills-box {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 670px;
  height: fit-content;
  background-color: #3d4451;
  padding: 20px;
  gap: 50px;
  border-radius: 10px;
  letter-spacing: 1px;
  box-shadow: 0px 4px 15px (0, 0, 0, 0.1);
  color: white;
}
.skills-box:hover{
  margin: 3px;
  box-shadow: 0px 5px 15px 5px (0, 0, 0, 0.1);
}
.professional-skills {
  width: 270px;
}

.professional-skills h1 {
  font-size: 22px;
}

.skills-list {
  padding-top: 10px;
  padding-left: 60px;
}

.skills-list li {
  font-size: 14px;
}

.languages {
  width: 300px;
}

.languages h1 {
  font-size: 22px;
}

.languages-list {
  padding-top: 10px;
  padding-left: 60px;
}

.languages-list li {
  font-size: 14px;
}

@media (max-width: 680px) {
  .skills-box {
    flex-direction: column;
    width: 330px;
    padding: 40px;
  }
}
