.sm-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b9a17f;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  transition: all 0.3s ease;
}
.sm-logo:hover {
  width: 35px;
  height: 35px;
  border: 3.5px solid #b9a17f;
}
.sm-logo img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  .sm-logo img:hover {
    width: 33px;
    height: 33px;
    border-radius: 100%;
  }