.sm-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #def2f1;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  transition: all 0.3s ease;
}
.sm-logo:hover {
  border: 1px solid black;
}
.sm-logo img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  .sm-logo img:hover {
    width: 34px;
    height: 34px;
    border-radius: 100%;
  }